.form__button {
    width: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 0 17px;
    background: var(--accent-color-blue);
    border-radius: 3px;
    transition: opacity 0.3s ease;
    margin-bottom: 16px;
}
.form__button:hover {
    opacity: 0.8;
}
.form__button_disabled {
    background: #f8f8f8;
    color: #c2c2c2;
    cursor: default;
}