.form__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--text-grey-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input {
    padding: 15px;
    border: none;
    background: #F9F9F9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-black-color);
}