.search {
    padding-bottom: 70px;
    border-bottom: 1px solid var(--item-color);
}
.search__container {
    display: flex;
    align-items: center;
}
.search__form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: #FDFDFD;
    border-radius: 9px 0px 0px 9px;
    padding: 16px 30px 16px 25px;
}

.search__icon {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background-image: url(../../images/icons/search-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search__input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--text-grey-color);
    margin-right: 10px;
}

.search__error {
    position: absolute;
    top: 50px;
    left: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--accent-color-pink);
}
.search__button {
    border: none;
    cursor: pointer;
    max-width: 34px;
    width: 100%;
    min-height: 34px;
    background-image: url(../../images/icons/search-icon-button.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    background-color: var(--accent-color-blue);
    transition: opacity 0.3s ease;
}
.search__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .search {
        padding-bottom: 110px;
    }
}

@media screen and (max-width: 650px) {
    .search__container {
        flex-direction: column;
        gap: 47px;
    }
    .search__form {
        border-radius: 9px;
        padding: 19px;
    }
    .search__icon {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .search {
        padding-bottom: 40px;
    }
    .search__input {
        font-size: 14px;
        line-height: 20px;
    }
}