.more {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.more__button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #F9F9F9;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    transition: 0.3s opacity ease;
}
.more__button:hover {
    opacity: 0.8;
}